- is_short ||= false
%article.post
  %h3.title= link_to post.title, post_path(post)
  %p.subtitle
    %span.timestamp= post.date
    %p.content
      - if is_short
        = truncate_html(post.body_as_html, length: 500, omission: link_to('...read more', post_path(post)).chomp)
      - else
        = post.body_as_html
    %p
      - post.tags_array.each do |tag|
        = link_to(tag, posts_path(tags: tag))
