- is_short ||= false
%article.post
  %h3.title= link_to post.title, post_path(post)
  %p#subtitle
    %span.timestamp= post.date
    %p.content
      - if is_short
        = truncate post.body, length: 500
        = link_to 'Read more...', post_path(post)
      - else
        = post.body
    %p= post.tags_array.join(', ').chomp(', ')
